<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
 <div class="container">
   <div class="navbar-header">
     <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
     <a class="navbar-brand" href="#">AirBnB</a>
   </div>
   <div id="navbar" class="navbar-collapse collapse">
     <ul class="nav navbar-nav navbar-right">

       <% if (!user_signed_in?)%>
          <li><%= link_to "Log In", new_user_session_path%></li>
          <li><%= link_to "Sign Up", new_user_registration_path%></li>

      <% else %>

          <li class="dropdown">

            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.first_name %> <%=current_user.last_name%><span class="caret"></span>  </a>

            <ul class="dropdown-menu ">
              <li><a href="#">Trips</a></li>
              <li><a href="#">Wish List</a></li>
              <li><%= link_to "Edit Profile", edit_user_registration_path%></li>
              <li role="separator" class="divider"></li>
              <li class="dropdown-header">Account Settings</li>
              <li><%= link_to "Log Out", destroy_user_session_path, method: :delete%></li>
            </ul>
          </li>

        <li>
          <a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i> Message</a>
        </li>
        <li>
          <a href="#"><i class="fa fa-home fa-lg" aria-hidden="true"></i> Become a Host</a>
        </li>
      <% end %>
    </ul>


   </div>
 </div>
</nav>
